.travel_section {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    max-width: 480px;
}

.travel_img {
    max-width: 125px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
    flex-basis: 125px;
    flex-grow: 1;
    overflow: hidden;
}

.travel_title {
    font-size: 1.5625rem;
}

.travel_subtitle {
    font-size: 0.625rem;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
}

.travel_info_container {
    margin: 1.25rem;
}

.travel_description {
    font-size: 0.625rem;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* location */
.travel_location {
    display: flex;
    align-items: center;
    font-size: 0.625rem;
}

.travel_location_icon {
    padding-right: 0.25em;
    height: 0.625rem;
}

.travel_location_location {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.travel_location_link {
    padding-left: 0.75em;
    color: #918E9B;
    font-size: 0.625rem;
}

@media(min-width: 600px) {
    .travel_section {
        max-width: 800px;
    }

    .travel_description {
        font-size: 0.9rem;
    }
    .travel_location_link {
        font-size: 0.8rem;
    }

    .travel_location {
        font-size: 0.8rem;
    }

    .travel_location_icon {
        height: 0.8rem;
    }

    .travel_subtitle {
        font-size: 0.8rem;
    }
}